.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to left, rgba(107, 44, 255) , rgba(109, 177, 255) );
  }
body{
  background-image: url("yoasobiwallpaper2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
  
.header li {
    float: left;
  }
  
.header li a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.header li a:hover {
    background-color: rgb(110, 110, 110, 0.5);
  }
  
.item-left{
    padding: 2%;
    float: left;
    width: 50%;
  }
.item-right{
    margin-top: 4%;
    margin-right: 9%;
    width: 36%;
    float: right;
  }
  .section{
    padding-top:20%;
    padding-bottom: 20%;
  }
  h3{
    background: linear-gradient(to left, rgba(125, 255, 212, 0.7) , rgba(240, 163, 255) ); 
    color: white;
    margin-top: -5%;
    padding: 5%;
    font-size: 20px;
  }
